<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>view-spa</title>
  <meta name="keywords" content="view spa">
  <meta name="description" content="This is a view spa">
  <!--[if IE]><link rel="icon" href="/favicon.ico"><![endif]-->
  <link href="/css/chunk-240b60a0.043d2e6b.css" rel="prefetch">
  <link href="/css/chunk-623a3140.c0310c5d.css" rel="prefetch">
  <link href="/css/chunk-86a2880e.c080ec7c.css" rel="prefetch">
  <link href="/css/chunk-ab1320fc.b5eeb5d1.css" rel="prefetch">
  <link href="/js/chunk-240b60a0.2ee2b453.js" rel="prefetch">
  <link href="/js/chunk-623a3140.71c798e1.js" rel="prefetch">
  <link href="/js/chunk-86a2880e.893fdd2b.js" rel="prefetch">
  <link href="/js/chunk-ab1320fc.ce3231b4.js" rel="prefetch">
  <link href="/css/app.99accf6d.css" rel="preload" as="style">
  <link href="/js/app.ff897da8.js" rel="preload" as="script">
  <link href="/js/chunk-vendors.ab1754ed.js" rel="preload" as="script">
  <link href="/css/app.99accf6d.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#4DBA87">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="view-spa">
  <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon-152x152.png">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#4DBA87">
  <meta name="msapplication-TileImage" content="/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <link rel="stylesheet" type="text/css" href="/css/chunk-240b60a0.043d2e6b.css">
  <script charset="utf-8" src="/js/chunk-240b60a0.2ee2b453.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/chunk-623a3140.c0310c5d.css">
  <script charset="utf-8" src="/js/chunk-623a3140.71c798e1.js"></script>
</head>

<body><noscript><strong>We're sorry but view-spa doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id="app">
    <div class="Default_Wrapper_3uqrQ">
      <header class="Header_Wrapper_2voXj">
        <nav class="Header_Container_2lERF"><a href="/" class=""><img src="/logo-48.png" alt="logo"
              class="Header_Logo_3NnhW"></a>
          <ul class="Header_Navs_2N1BU">
            <li><a href="/posts" class="router-link-active">Home</a></li>
            <li><a href="/about" class="">About</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="Post_Wrapper_3L8Ep">
          <div class="Post_Banner_38wC5"><img src="http://lorempixel.com/640/320/sports"
              title="Accusantium molestiae saepe ut aut." alt="post image"></div>
          <div class="Post_Container_6QE6B">
            <main class="Post_Main_3lBwS">
              <article class="PostDetail_Wrapper_P0bbk">
                <h1 class="PostDetail_Title_UbBAM">Accusantium molestiae saepe ut aut.</h1>
                <ul class="PostDetail_Meta_1fF4U">
                  <li>
                    Author: <output>Darrin Hahn</output></li>
                  <li>
                    Like: <output>358</output></li>
                  <li>
                    View: <output>3442</output></li>
                  <li>
                    Created at:
                    <output>2019-06-23</output></li>
                </ul>
                <div class="PostDetail_Summary_2XwC7">Maxime est recusandae labore et. Reiciendis accusamus placeat eos
                  beatae corporis porro. Aperiam libero vel omnis. Aut consequatur ad. Eos qui dignissimos est quaerat
                  iste asperiores aliquam quis aut.</div>
                <div class="PostDetail_Content_dMYFj">Aut quibusdam porro dolor porro reiciendis necessitatibus amet. Ea
                  optio dolorum ipsa consectetur quisquam quia. Ut dolorum reprehenderit. Deserunt sit inventore aut aut
                  ducimus laboriosam voluptatem corporis et. Omnis aut placeat est nisi nihil cum amet. Minima quod
                  sapiente voluptatem.

                  Ipsa adipisci soluta quo perferendis aut. Facilis ab eos qui perspiciatis ut ut totam inventore. Omnis
                  nobis vel aliquid adipisci quisquam quidem voluptas nemo sed. Fuga rerum dolore qui odit.

                  Non voluptas similique est et. Dolore voluptas illo fugit. Magnam fugiat voluptate. Atque accusantium
                  doloribus laboriosam amet non ullam. Dolorum et dolores.</div>
              </article>
              <section class="$style.Wrapper">
                <h3 class="Panel_Title_2cOAL">Comments</h3>
                <div>
                  <div class="NoData_Wrapper_2rqtu">No Content ‼️</div>
                </div>
              </section>
            </main>
            <aside class="Post_Aside_3Y-0S">
              <section class="$style.Wrapper">
                <h3 class="Panel_Title_2cOAL">Hi</h3>
                <div>
                  <div class="Post_Message_2EzQl">
                    Welcome to
                    <b>V</b>! It is an awesome site.
                  </div>
                </div>
              </section>
              <section class="$style.Wrapper">
                <h3 class="Panel_Title_2cOAL">Hot</h3>
                <div>
                  <ul class="HotPostList_Wrapper_Lr8rR">
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/71" class="">
                          <h3 class="HotPost_Title_3ip1v">Voluptatem nemo rem ipsa est quis non eum unde ullam.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Mrs. Josephine Luettgen</li>
                            <li>2019-06-23</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/72" class="">
                          <h3 class="HotPost_Title_3ip1v">Sequi earum commodi aut.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Rozella Haag</li>
                            <li>2019-06-19</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/73" class="">
                          <h3 class="HotPost_Title_3ip1v">Expedita est doloremque.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Aida Powlowski</li>
                            <li>2019-06-18</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/74" class="">
                          <h3 class="HotPost_Title_3ip1v">Aspernatur quae non harum mollitia laboriosam ut.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Jaden Quitzon MD</li>
                            <li>2019-06-27</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/75" class="">
                          <h3 class="HotPost_Title_3ip1v">Dolore dolorem neque nihil adipisci molestias facilis eius
                            ipsum.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Twila Sipes Sr.</li>
                            <li>2019-06-21</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/76" class="">
                          <h3 class="HotPost_Title_3ip1v">Neque et quo quos architecto incidunt omnis est perspiciatis.
                          </h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Deontae Bradtke</li>
                            <li>2019-06-26</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/77" class="">
                          <h3 class="HotPost_Title_3ip1v">Minus dicta id quam id necessitatibus rem et sed.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Jaden Quitzon MD</li>
                            <li>2019-06-22</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/78" class="">
                          <h3 class="HotPost_Title_3ip1v">Provident a id et.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Rozella Haag</li>
                            <li>2019-06-24</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/79" class="">
                          <h3 class="HotPost_Title_3ip1v">Facilis et sunt et ut et iusto.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Twila Sipes Sr.</li>
                            <li>2019-06-21</li>
                          </ul>
                        </a></article>
                    </li>
                    <li>
                      <article class="HotPost_Wrapper_1tKeY"><a href="/posts/80"
                          class="router-link-exact-active router-link-active">
                          <h3 class="HotPost_Title_3ip1v">Accusantium molestiae saepe ut aut.</h3>
                          <ul class="HotPost_Meta_2N34s">
                            <li>Darrin Hahn</li>
                            <li>2019-06-23</li>
                          </ul>
                        </a></article>
                    </li>
                  </ul>
                </div>
              </section>
            </aside>
          </div>
        </div>
      </main>
      <footer class="Footer_Wrapper_3E2Rd">
        <div class="Footer_Container_3GFuf">
          Copyright © 2019
        </div>
      </footer>
    </div>
  </div>
  <script src="/js/chunk-vendors.ab1754ed.js"></script>
  <script src="/js/app.ff897da8.js"></script>
</body>

</html>